#vbox-root{
    -fx-background-color: linear-gradient(#D8D8D8, #909090 );
    -fx-alignment: center;
    -fx-text-alignment: left;
    -fx-text-fill: white;
}


/* * ------ TITLE ------ * */
#top_title {

}

/* * ------ TILES ------ * */
.tile_rank1 {
    -fx-background-color: linear-gradient(#F5EED7, #FFDCB4 );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank2 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank3 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank4 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank5 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank6 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank7 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank8 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank9 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}
.tile_rank10 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}
.tile_rank11 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.tile_rank12 {
    -fx-background-color: linear-gradient(#FEF89D, #FEDB9D );
    -fx-border-color: #E9BD2D;
    -fx-font-size: x-large;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-min-height: 140px;
    -fx-max-height: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}



/* * ------ BUTTONS ------ * */






/* * ------ FLECHES ------ * */

#up_button {
    -fx-background-image: url("/img/fleche_up.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color:
    #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}

#down_button {
    -fx-background-image: url("/img/fleche_down.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color:
    #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}

#left_button {
    -fx-background-image: url("/img/fleche_left.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color:
    #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}


#right_button {
    -fx-background-image: url("/img/fleche_right.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color:
    #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );


}